<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nouvel Article</title>
</head>
<body>
    <h1>Nouvel article</h1>
    <form
          data-th-action="@{/new}"
          data-th-object="${article}"
          method="post">

        <input type="text" data-th-field="*{titre}" />
        <span data-th-if="${#fields.hasErrors('titre')}"
              data-th-errors="*{titre}">erreurs titre
        </span>
        <input type="text" data-th-field="*{contenu}" />
        <span data-th-if="${#fields.hasErrors('contenu')}"
              data-th-errors="*{contenu}">erreurs contenu
        </span>
        <select data-th-field="${article.auteur}">
            <option data-th-each="auteur : ${auteurs}" th:field="${article.auteur}" th:value="${auteur.id}" th:text="${auteur.nom}"></option>
        </select>
        <!--<option value="0">choisir auteur</option>-->
        <!--<option th:each="article : ${auteur}" th:value="${auteur}" th:text="${auteur}"></option>-->
        <input type="submit" value="Valider">
    </form>
</body>
</html>